In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/hiring/hiring.csv

In [2]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5586 sha256=bc29a382a8808253c2efd5f46f76e13a6343ec5dcb23c344eeb2fc5ef3e7f42a
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [10]:
df = pd.read_csv('../input/hiring/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [12]:
df.experience = df.experience.fillna("zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [13]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [14]:
df.experience.median()

4.0

In [23]:
df.experience[df.experience == 0] = df.experience.median()
df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         4.0                    8.0                           9      50000
1         4.5                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

In [29]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
median_test_score

7

In [30]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         4.0                    8.0                           9      50000
1         4.5                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    7.0                           7      72000
7        11.0                    7.0                           8      80000

In [31]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('salary($)',axis= 1),df['salary($)'])

LinearRegression()

In [32]:
reg.coef_

array([3568.75851716, 2018.99722337, 3409.51275055])

In [33]:
reg.intercept_

-240.5502726996492

In [37]:
reg.predict([[3,9,6]])

array([49093.7767924])

In [38]:
3568.75851716*3 + 2018.99722337*9 + 3409.51275055*6

49334.327065109996

In [85]:
import math
def linear(x):
  return  math.x

In [86]:
def prediction_function(salary):
    z = 3568.75851716* experience  + 2018.99722337* test_score + 3409.51275055* interview_score  - 240.5502726996492
    y = linear(z)
    return y

In [87]:
experience = 3
test_score  = 9
interview_score = 6


prediction_function(salary)

NameError: name 'salary' is not defined

In [89]:
!pip install jovian --upgrade

Collecting jovian
  Downloading jovian-0.2.18-py2.py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 155 kB/s eta 0:00:011
Requirement already satisfied, skipping upgrade: pyyaml in /opt/conda/lib/python3.7/site-packages (from jovian) (5.3.1)
Collecting uuid
  Downloading uuid-1.30.tar.gz (5.8 kB)
Requirement already satisfied, skipping upgrade: requests in /opt/conda/lib/python3.7/site-packages (from jovian) (2.23.0)
Requirement already satisfied, skipping upgrade: click in /opt/conda/lib/python3.7/site-packages (from jovian) (7.1.1)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->jovian) (2.9)
Building wheels for collected packages: uuid
  Building wheel for uuid (setup.py) ... done
  Created wheel for uuid: filename=uuid-1.30-py3-none-any.whl size=6500 sha256=c388a1d0bd3ed77377373c98b1fbc44a14b3e7ca4352f8e4f238fc52df4c9d3c
  Stored in directory: /root/.cache/pip/wheels/2a/ea/87/dd57f1ecb4f0752f3e1dbf958ebf8b36d920d190425bcdc24d
Successfully built uuid
Installing collected packages: uuid, jovian
Successfully installed jovian-0.2.18 uuid-1.30

In [90]:
import jovian

In [ ]:
jovian.commit(project='Linear 2020')

[jovian] Attempting to save notebook..
[jovian] Detected Kaggle notebook...
[jovian] Please enter your API key ( from https://jovian.ml/ ):
API KEY: ········
[jovian] Uploading notebook to https://jovian.ml/yeonathan/Linear 2020